{% extends "base.html" %}
<!-- this code above says: i am underneath this html page and connects them together -->
<!-- defines the this page as the block that will be underneathe the html page and its contents -->
{% block content %}
        <!-- This segment is used to leave a message for users relative to the page opened you will find it on every page. -->
        <div class="p-5 mb-6 top" style="margin-top: 50px;" >
            <div class="container">
                <h1 class="display-6 fw-bold" style="color:#1d1308;">We hope you find what you are looking for!</h1>
            </div>
        </div>  
        <!-- This small segment is the search bar to help users find what they need. -->
        <div class="container">
            <div class="container" style="font-size: 17px; text-align: center; margin-top: 15px; max-width:66%;">
                <!-- it goes to views.py for filtering and then sends you to the search results -->
                <form method="POST" action="{% url 'search_results'%}">
                    <!-- This cross site request forgery token is a basic cyber security measure. -->
                    {% csrf_token %}
                    <input name="search" class="form-control" type="search" placeholder="search.."> <br>
                    <button class="btn" typer="submit" style="padding: 7px; margin-left:5px; padding: 8px 16px; background-color: #1d1308; border-radius: 8px; margin-bottom: 12px; color: #c9c6cf;"> search </button>
                </form>
            </div>
        </div>
    <!-- This segment is focused on Cards displaying what is in the stock table. -->
    <div id="test"class="container" style="  display: inline-flex; justify-content: center; flex-wrap: wrap; gap: 50px; min-width: 100%;">
        {% for item in TS %}
        <div class ="card-container" style="max-width: 300px; margin-top: 50px;">
        <div class ="row card" style="width: 300px; background-color: #c9c6cf; border-radius: 8px; overflow:hidden; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);">
            {% load static %}
            <!-- The static image is a placeholder for later found at https://pixabay.com/photos/puzzle-missing-particle-last-piece-654963/ -->
            <img style="margin-top: 10px;" src="{% static 'media/puzzle-654963_1280.jpg'%}" alt="missing image"> 
            <div class="card-content">
                <!-- the following django is to gather information from the database and present it in card for example
                item.stockname will show the results and every stock assigned with it and their attached stockname in the database-->
                <h3 style="font-size: 30px; display:flex; justify-content: center;"> {{ item.StockName }}</h3>
                    <p style="color: #1d1308; font-size: 15px;"> Each {{ item.StockName }} is £{{ item.Price }} each we currently have only {{ item.QTY }} items in stock hurry while stock lasts! </p>
                <a href="" class="btn" style="display:flex; justify-content: center; flex-wrap: wrap; padding: 8px 16px; background-color: #1d1308; border-radius: 8px; margin-bottom: 12px; color: #c9c6cf;">Buy Now</a>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>
<!-- ends the block  -->  
{% endblock %}
